@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  user-select: none;
}

body {
  background: linear-gradient(50deg, #93e39b, rgb(233, 140, 231));
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 28px;

}

.password {
  padding: 8px;
  margin: 8px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}

.btn {
  font-size: 22px;
  padding: 8px;
  background: rgb(0, 0, 0);
  color: #ffffff;
  margin: 8px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: relative;
}

.btn:hover {
  cursor: pointer;
  background: rgb(50, 50, 50);
}

.btn:active {
  top: 2px;
}